.container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.headers {
    text-align: center;
    display: block;
    justify-content: center;
    width: 100%;
}

.main-title {
    padding-bottom: 10%; /*this is your height/width ratio*/
    height: 0;
}

svg {
    display: block;
    margin: 0 auto;
}

.headding {
    margin-top: 15%;
    margin-bottom: 7%;
    display: block;
    fill: #000080;
    font-family: "Hammersmith One", sans-serif;
}

.subtitle {
    padding-bottom: 10%; /*this is your height/width ratio*/
    height: 0;
    width: 100%;
    margin-top: 3%;
    fill: #808080; 
}

.highlight {
    display: block;
    height: 25%;
}

path {
    fill: transparent;
}

.intro-image-container { 
    margin: 0 auto;
}

.introduction-img {
    margin-right: 4%;
    display: block;
    margin: 0 auto;
}

.spacer { height: 5%}

.member-statement {
    color: #808080;
    font-family: "Gudea", sans-serif;
    margin: 0 auto;
    max-width: 25%;
}

#obafemi-institute-logo-img {
    display: block;
    margin: 0 auto;
    max-width: 45%;
    height: 50%;
}

@media only screen and (max-device-width : 480px) {
  .main-title {
    margin-top: 10%;
  }

  .subtitle {
    height: 60%;
    margin-top: 1%;
  }
}
